<a href="https://colab.research.google.com/github/MohammedHashir1/DATA-SCIENCE-JOURNEY/blob/main/5_User_Input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name= input ("enter your name: ")
print(f"you have entered: {name}")

enter your name: hashir
you have entered: hashir

In [ ]:
name= input ("enter your name: ")
print(f"you have entered: {name}")

enter your name: hashir
you have entered: hashir

In [ ]:
a= int(input ("enter a number:"))
b= int(input ("enter a number:"))
print(type(a),type (b))

enter a number:55
enter a number:45
<class 'int'> <class 'int'>

In [ ]:
print(f"sum of a and b:{a+b} ")

sum of a and b:100

In [ ]:
a=float(input("enter a number:"))
b=int(input("enter a number :"))
print(f"sum of a and b:{a+b}")

enter a number:12.4
enter a number :4
sum of a and b:16.4

In [ ]:
#string to int
a=50
print(f"the value befrore:{type(a)},value of a:{a}")
a=int(a)
print(f"the value after:{type(a)},,value of a:{a}")

the value befrore:<class 'int'>,value of a:50
the value after:<class 'int'>,,value of a:50

In [ ]:
#float to int
a=50.2
print(f"the value before:{type(a),},value of a:{a}")
a=int(a)
print(f"the value after:{type(a)}, value of a:{a}")

the value before:(<class 'float'>,),value of a:50.2
the value after:<class 'int'>, value of a:50

In [ ]:
#integer to float
a=50
print(f"value before:{a},value of a:{a}")
a=float(a)
print(f"value after:{a},value of a:{a}")

value before:50,value of a:50
value after:50.0,value of a:50.0

In [ ]:
#integer to boolean
a=22
print(f"value before:{a},value of a:{a}")
a=bool(a)
print(f"value after:{a}")

value before:22,value of a:22
value after:True

In [ ]:
#integer to boolean
a=0
print(f"value before:{a},value of a:{a}")
a=bool(a)
print(f"value after:{a}")

value before:0,value of a:0
value after:False

In [ ]:
#integer to boolean
a=-5
print(f"value before:{a},value of a:{a}")
a=bool(a)
print(f"value after:{a}")

value before:-5,value of a:-5
value after:True

In [ ]:
#string to boolean
a="hashir"
print(f"value before:{a},value of a:{a}")
a=bool(a)
print(f"value after:{a}")

value before:hashir,value of a:hashir
value after:True

In [ ]:
#string to boolean
a="hashir"
print(f"value before:{a},value of a:{a}")
a=bool(a)
print(f"value after:{a}")

In [ ]:
#string to boolean
a="true"
print(f"value before:{a},value of a:{a}")
a=bool(a)
print(f"value after:{a}")

value before:true,value of a:true
value after:True

In [ ]:
#string to boolean
a="false"
print(f"value before:{a},value of a:{a}")
a=bool(a)
print(f"value after:{a}")

value before:false,value of a:false
value after:True

In [ ]:
#empty string to boolean
a=""
print(f"value before:{a},value of a:{a}")
a=bool(a)
print(f"value after:{a}")

value before:,value of a:
value after:False

In [ ]:
#string to integer
a=""
print(f"value before:{a},value of a:{a}")
a=int(a)
print(f"value after:{a}")

value before:,value of a:

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# calculate the age of the user
print("calculate your age")
a=int(input(f"enter current year:"))
b=int(input(f"enter year of birth:"))
print(f"your age is:{a-b}")

calculate your age
enter current year:2000
enter year of birth:1947
your age is:53

In [ ]:
name=input("name:")
place=input("place:")
year_of_birth=int(input("year of birth:"))
age= 2025- year_of_birth
print(f"""
my name is:{name}
my place of birth:{place}
{name} is of age:{age}""")

name:hashir
place:hyd
year of birth:2004

my name is:hashir
my place of birth:hyd
hashir is of age:21