<a href="https://colab.research.google.com/github/MohammedHashir1/DATA-SCIENCE-JOURNEY/blob/main/_13_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# if amount greater than 999 give discount of 70/100
#if less than or 999 and greater than 499 give discount of 80/100
#if its more than 1499 give discount of 90/100
# if less than 499 give no discount
{use if elif else method}

In [6]:
Grocery_List=90+10+400+600
if Grocery_List >=999:
  Grocery_List= Grocery_List * 70/100
  print(f" you got 80% off :{Grocery_List}")
elif Grocery_List < 999 and Grocery_List >= 499 :
    Grocery_List= Grocery_List * 80/100
    print(f" you got 80% off :{Grocery_List}")
else :
      print(f"no discount")

 you got 80% off :770.0

In [7]:
Grocery_List=90+10+40
if Grocery_List >=999:
  Grocery_List= Grocery_List * 70/100
  print(f" you got 80% off :{Grocery_List}")
elif Grocery_List < 999 and Grocery_List >= 499 :
    Grocery_List= Grocery_List * 80/100
    print(f" you got 80% off :{Grocery_List}")
else :
      print(f"no discount")

no discount

In [8]:
Grocery_List=90+10+400
if Grocery_List >=999:
  Grocery_List= Grocery_List * 70/100
  print(f" you got 80% off :{Grocery_List}")
elif Grocery_List < 999 and Grocery_List >= 499 :
    Grocery_List= Grocery_List * 80/100
    print(f" you got 80% off :{Grocery_List}")
else :
      print(f"no discount")

 you got 80% off :400.0

In [16]:
Grocery_List=90+10+400+1600
if Grocery_List >=1499:
  Grocery_List= Grocery_List * 70/100
  print(f" you got 80% off :{Grocery_List}")
elif Grocery_List<1499:
  Grocery_List=Grocery_List*90/100
  print(f" you got 90% off :{Grocery_List}")


else :
      print(f"no discount")

 you got 80% off :1470.0

Nested if else

In [19]:
number=float(input("enter a number: "))
if number<=0:
  print(f"the number is zero")
if number> 0 :
  print(f"the number is positive")
else:
    print("the number is negative")

enter a number: 5
the number is positive

SINGLE LINE IF ELSE

print 90 if the number is greater than 99

In [23]:
number=float(input("enter any number : "))
if number>=99:
  print(f"yes")

enter any number : 5

while Loop

In [29]:
note=5
i=1
while i<=note:
  print(f"the sum of : {i*2}")
  i=i+1

the sum of : 2
the sum of : 4
the sum of : 6
the sum of : 8
the sum of : 10

In [32]:
i=
while i<=10:
  i=i+1

count to 10: 0
count to 10: 1
count to 10: 2
count to 10: 3
count to 10: 4
count to 10: 5
count to 10: 6
count to 10: 7
count to 10: 8
count to 10: 9
count to 10: 10

In [57]:
i = 0
while i <= 20 :

    print(f"even numbers : {i}")
    i = i + 2

even numbers : 0
even numbers : 2
even numbers : 4
even numbers : 6
even numbers : 8
even numbers : 10
even numbers : 12
even numbers : 14
even numbers : 16
even numbers : 18
even numbers : 20

In [66]:
i=50
while i>=0:
  if i % 5==0:
    print(f"reverse print : {i}")
  i-= 1

reverse print : 50
reverse print : 45
reverse print : 40
reverse print : 35
reverse print : 30
reverse print : 25
reverse print : 20
reverse print : 15
reverse print : 10
reverse print : 5
reverse print : 0

In [67]:
i=0
while i<=5:
  print(f"sum : {i}")
  i=i+1

sum : 0
sum : 1
sum : 2
sum : 3
sum : 4
sum : 5

In [77]:
i=10
while i>=0:

   print(f"revese : {i}")
   i=i-1

revese : 10
revese : 9
revese : 8
revese : 7
revese : 6
revese : 5
revese : 4
revese : 3
revese : 2
revese : 1
revese : 0

In [78]:
i=0
while i<=10:
  print(f"odd numbers : {i}")
  i=i+3

odd numbers : 0
odd numbers : 3
odd numbers : 6
odd numbers : 9

In [79]:
i=0
while i<=5:
  print(f"odd numbers : {i}")
  i=i+1

odd numbers : 0
odd numbers : 1
odd numbers : 2
odd numbers : 3
odd numbers : 4
odd numbers : 5

While If Else loop

In [80]:
i=50
while i>=0:
  if i % 5==0:
    print(f"reverse print : {i}")
  i-= 1

reverse print : 50
reverse print : 45
reverse print : 40
reverse print : 35
reverse print : 30
reverse print : 25
reverse print : 20
reverse print : 15
reverse print : 10
reverse print : 5
reverse print : 0

In [87]:
user = int(input("Enter any number: "))

while user != 0:
    if user % 2 == 0:
        print("Even")
    else:
        print("Odd")
    user = int(input("Enter any number: "))

print("Done!")

Enter any number: 4
Even
Enter any number: 5
Odd
Enter any number: 7
Odd
Enter any number: \

ValueError: invalid literal for int() with base 10: '\\'

In [96]:
for i in range(0,10):
  print(f"10 X {i} = {10*i}")

10 X 0 = 0
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90

In [100]:
for i in range(1,10):
  print("*"*i)

*
**
***
****
*****
******
*******
********
*********

In [103]:
for hashir in range(0,24):
  print("@#!$%^&*()_+"*hashir)

@#!$%^&*()_+
@#!$%^&*()_+@#!$%^&*()_+
@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+
@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+
@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+
@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+
@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+
@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+
@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+
@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+
@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+
@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+
@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+
@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+
@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+
@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+
@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+
@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+
@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+
@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+
@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+
@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+
@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+@#!$%^&*()_+

In [104]:
for i in range(1,10):
  print("2"*i)

2
22
222
2222
22222
222222
2222222
22222222
222222222

In [1]:
cost_of_items=(100,200,300,400)
total_sum=0
for i in range(0,4):
   total_sum=total_sum + cost_of_items[i]
print(f"your total bill to be payed: {total_sum}")

your total bill to be payed: 1000

BREAK AND CONTINUE

In [11]:
for i in range(0,100):
 if i>24:
   break
 print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [12]:
for i in range(0,25):
  if i<=25 :
    print(i)
    continue

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [13]:
for i in range(0,25):
  if i%2==0 :
    print(i)
    continue

0
2
4
6
8
10
12
14
16
18
20
22
24

In [14]:
for i in range(0,25):
  if i%2!=0 :
    print(i)
    continue

1
3
5
7
9
11
13
15
17
19
21
23

In [19]:
stations=("station 1","stations 2","station 3","stations 4")

for current_station in stations:
    print(f"current station: {current_station}")
    if current_station=="station 3":
      break

current station: station 1
current station: stations 2
current station: station 3

In [21]:
stations=("station 1","stations 2","station 3","stations 4")

for current_station in stations:
    print(f"current station: {current_station}")
    if current_station=="stations 2":
      break

current station: station 1
current station: stations 2

In [26]:
stations=("station 1","stations 2","station 3","stations 4")

for current_station in stations:

    if current_station=="station 1":
      continue
    print(f"current station: {current_station}")

current station: stations 2
current station: station 3
current station: stations 4

REVISION

In [27]:
a=100
if a%2==0:
  print(f"its even ")
else:
  print("no the number is odd")

its even

In [28]:
a=20
if a*2==40:
 print("yes its correct")
else:
  print("no its not")

yes its correct

In [31]:
a=20
if a*4==40:
 print("yes its correct")
elif a+20==40:
  print("yes its correct because of addition")
else:
  print("no its not")

yes its correct because of addition

school grades
the students who got just 32 write you are just past
the students who got 50 write average
the students who got 75 write good
the students who got 100 write execellent

In [35]:
marks=int(input("enter your marks : "))
if marks==33:
  print(f"you are just pass")
elif 33<marks<=50:
  print(f"you are average")
elif 50<marks<=75:
  print(f"you are good student")
elif 75<marks<=100:
  print(f"you have done an execellent work")
else:
    print(f"you failed in the exam")

enter your marks : 49
you are average

In [46]:
i=int(input("enter a number : "))
if i>100:
  print(f"yes")

enter a number : 444
yes

In [47]:
a,b,c=1,2,3
if a>b:
  print(f"yes a its greater")
if b>c:
  print(f"yes b its greater")
if c>a:
  print(f"yes c its greater")

yes c its greater

In [48]:
attendence=70
assignment=40
sport_player=True
if attendence<=75 and assignment<=40:
  if sport_player:
    print(f"yes eligible for exam")
else:
  print("no the student is not eligible ")

yes eligible for exam

In [51]:
marks=(100,200,300,400,500)
cutoff=400
while i[marks] <marks:
  print(f"my marks is :{i*marks}")
  i=i+1

TypeError: 'int' object is not subscriptable

In [55]:
 i=0
 while i<=24:
  print("hello")
  i=i+1

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [57]:
print(text.count("hello"))

TypeError: 'int' object is not callable

In [3]:
i=1
while i<=5:
  print(i)
  i=i+1

1
2
3
4
5

In [7]:
i=1
while i<=10:
 print("hashir")
 i=i+1

hashir
hashir
hashir
hashir
hashir
hashir
hashir
hashir
hashir
hashir

In [8]:
i=1
while i<8:
  print('EASY')
  i=i+1

EASY
EASY
EASY
EASY
EASY
EASY
EASY

In [18]:
i=10
while i>=0:
  print(i)
  i=i-1

10
9
8
7
6
5
4
3
2
1
0

In [19]:
i=24
while i>=0:
  print(i)
  i=i-1

24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

Count to 10:
Write a while loop that prints numbers from 1 to 10.

Even Numbers:
Use a while loop to print all even numbers from 2 to 20.

Guess the Number Game:
Ask the user to guess a number between 1 and 10. Keep looping until they guess correctly.

Sum Until Zero:
Keep asking the user for numbers. Stop when they enter 0 and print the total sum.

Password Checker:
Ask the user to enter a password. Keep asking until they enter the correct one.

In [21]:
i=1
while i<11:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [22]:
i=2
while i<22:
  print(i)
  i=i+2

2
4
6
8
10
12
14
16
18
20

In [ ]:
 i=100
 while i>=1:
  print(i)
  i=i-1

In [ ]:
print("hello")