<a href="https://colab.research.google.com/github/MohammedHashir1/DATA-SCIENCE-JOURNEY/blob/main/_14_class_08_video.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
A=(1,2,5.0,"maaz",1+2j,)
for i in A:
  print(i)

1
2
5.0
maaz
(1+2j)

In [9]:
A=[1,2,5.0,"maaz",1+2j]
for i in range(len(A)):
  print(f"i={i}, value={A[i]}, the data type of these are :{type(A[i])}")

i=0, value=1, the data type of these are :<class 'int'>
i=1, value=2, the data type of these are :<class 'int'>
i=2, value=5.0, the data type of these are :<class 'float'>
i=3, value=maaz, the data type of these are :<class 'str'>
i=4, value=(1+2j), the data type of these are :<class 'complex'>

In [10]:
A=[1,2,5.0,"maaz",1+2j]
for i in A:
  print(i)

1
2
5.0
maaz
(1+2j)

In [13]:
A=[1,2,5.0,"maaz",1+2j]
A[3]

'maaz'

In [14]:
A

[1, 2, 5.0, 'maaz', (1+2j)]

In [16]:
A[4:]

[(1+2j)]

In [17]:
A[0::4]

[1, (1+2j)]

In [21]:
for i in range(0,5,2):
  print(i,A[i])

0 1
2 5.0
4 (1+2j)

In [22]:
A[::-1]

[(1+2j), 'maaz', 5.0, 2, 1]

In [23]:
A[:-2]

[1, 2, 5.0]

In [36]:
for i in range(-1,-len(A)-1,-1):
  print(i,A[i])

-1 (1+2j)
-2 maaz
-3 5.0
-4 2
-5 1

In [38]:
for i in range(1,2,4):
  print(i,A[i])

1 2

In [39]:
A

[1, 2, 5.0, 'maaz', (1+2j)]

In [43]:
for i in (0,2,4):
  print(i,A[i])

0 1
2 5.0
4 (1+2j)

In [44]:
A.replace(2,"5"):
print(A)

SyntaxError: invalid syntax (<ipython-input-44-cc19566a8cf5>, line 1)

In [47]:
A[3]="Ksi"

In [48]:
A

[1, 2, 5.0, 'Ksi', (1+2j)]

In [49]:
 B=["huwai","mountains","dog","viral"]

In [50]:
A+B

[1, 2, 5.0, 'Ksi', (1+2j), 'huwai', 'mountains', 'dog', 'viral']

In [51]:
A-B

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [53]:
A * 3

[1, 2, 5.0, 'Ksi', (1+2j), 1, 2, 5.0, 'Ksi', (1+2j), 1, 2, 5.0, 'Ksi', (1+2j)]

In [54]:
B+A

['huwai', 'mountains', 'dog', 'viral', 1, 2, 5.0, 'Ksi', (1+2j)]

In [55]:
A*0

[]

In [59]:
item =str(input("enter your list of items : "))
for i in item:
  print(f"i={item(i)}, the list is : {item[i]}")

enter your list of items : fksk,modisa,djse

TypeError: 'str' object is not callable

In [62]:
list_of_item=list()
for i in range(10):
  user=input("enter the item that you want to purchase :")
  list_of_item=list_of_item +[user]
print(list_of_item)

enter the item that you want to purchase :k
enter the item that you want to purchase :e
enter the item that you want to purchase :i
enter the item that you want to purchase :a
enter the item that you want to purchase :n
enter the item that you want to purchase :i
enter the item that you want to purchase :m
enter the item that you want to purchase :a
enter the item that you want to purchase :b
enter the item that you want to purchase :e
['k', 'e', 'i', 'a', 'n', 'i', 'm', 'a', 'b', 'e']

In [67]:
me = list()
n=int(input("enter the number of item you want to purchase : "))
for i in range(n):
  user=input("enter the list of items : ")
  me = me + [user]
print(me)

enter the number of item you want to purchase : 10
enter the list of items : k
enter the list of items : e
enter the list of items : i
enter the list of items : a
enter the list of items : n
enter the list of items :
enter the list of items : m
enter the list of items : a
enter the list of items : b
enter the list of items : e
['k', 'e', 'i', 'a', 'n', '', 'm', 'a', 'b', 'e']

In [80]:
me = list()
n=int(input("enter the number of item you want to purchase : "))
i=0
while i<=n:
  user=input("enter the list of items : ")
  me = me+ [user]
  i=i+1
print(f"i = {i}, the cureent list : {me}")

enter the number of item you want to purchase : 1
enter the list of items : k
enter the list of items : h
i = 2, the cureent list : ['k', 'h']

In [81]:
"h" in me

True

In [82]:
"k" in me

True

In [89]:
"h" and "k" in me

True

In [87]:
 if "k&h" in me:
  print("yes")
else:
  print("NO, adding it")
  me =me+ ["k&h"]

NO, adding it

In [88]:
me

['k', 'h', 'k&h']

MIN and MAX value in a list

In [94]:
i=[12,4,9,24,5]
max(i)

24

In [96]:
i=("sam","rahul","z")
max(i)

'z'

In [97]:
 min(i)

'rahul'

In [99]:
name =("hashir","kea", "maaz","zala")
longe=0
result=""
for i in name:
  print(i,len(i))
  if len(i)> longe:
    longe = len(i)
    result  = i
print(f"result : {longe} name : {result}")

hashir 6
kea 3
maaz 4
zala 4
result : 6 name : hashir

In [102]:
name =("hashir","kea", "maaz","zala","zolo","cristinao")
lenth=0
breath=""
for i in name:
  print(i,len(i))
  if len(i)>lenth :
   lenth=len(i)
   breath=i
print(f"breath : {lenth} and lenth : {breath}")

hashir 6
kea 3
maaz 4
zala 4
zolo 4
cristinao 9
breath : 9 and lenth : cristinao

In [111]:
name =("hashir","kea","APJabdulKalam", "maaz","zala","zimbambe",)
l=0
b=""
for i in name:
  print(i,len(i))
  if len(i)>l:
     l=len(i)
     b=i

print(f"breath : {l} and length : {b}")

hashir 6
kea 3
APJabdulKalam 13
maaz 4
zala 4
zimbambe 8
breath : 13 and length : APJabdulKalam

In [118]:
name =("hashir","kea","APJabdulKalam", "maaz","zala","zimbambe","zaza")
lin=0
bre=""
for i in name:
  print(i,len(i))
  if len(i)>lin:
    lin=len(i)
    bre=i
  print(f"breath : {bre}, and lenthg : {lin}")

TypeError: 'int' object is not callable

In [119]:
del (len)

In [121]:
name =("hashir","kea","APJabdulKalam", "maaz","zala","zimbambe","zaza")
lin=0
bre=""
for i in name:
  print(i,len(i))
  if len(i)>lin:
    lin=len(i)
    bre=i
print(f"breath : {bre}, and lenthg : {lin}")

hashir 6
kea 3
APJabdulKalam 13
maaz 4
zala 4
zimbambe 8
zaza 4
breath : APJabdulKalam, and lenthg : 13

 append and pop() method

In [123]:
 name.append("keia")

name

AttributeError: 'tuple' object has no attribute 'append'

In [128]:
a=(1,2,3)
a.append[4]

AttributeError: 'tuple' object has no attribute 'append'

In [127]:
a.append[4]

AttributeError: 'tuple' object has no attribute 'append'

In [132]:
a = [1, 2, 3]  # list
a.append(7)    # âœ… Now this works
print(a)

[1, 2, 3, 7]

In [134]:
a.append(9)

a

[1, 2, 3, 7, 9, 9]

In [136]:
a.pop(1)

2

In [137]:
a

[1, 3, 7, 9, 9]

In [144]:
A=[1,34,56,76,99]
for i in A:
  print(len(str(i)))
  if len(str(i))%2==0:
    print("even num")
else:
    print("odd num")

1
2
even num
2
even num
2
even num
2
even num
odd num

In [146]:
A = [1, 34, 56, 76, 99]

for i in A:
    print(i,len(str(i)))
    if i % 2 == 0:
        print("even number")
    else:
        print("odd number")

1 1
odd number
34 2
even number
56 2
even number
76 2
even number
99 2
odd number

In [147]:
A = [1, 34, 56, 76, 99]

for i in A:
    print(i)
    if i % 2 == 0:
        print("even number")
    else:
        print("odd number")

1
odd number
34
even number
56
even number
76
even number
99
odd number

sorted method

In [148]:
a

[1, 3, 7, 9, 9]

In [149]:
a.sort()

In [150]:
a

[1, 3, 7, 9, 9]

In [151]:
a=[255,67,2,86,8,5,-8,6,8,5,]
sorted(a)

[-8, 2, 5, 5, 6, 8, 8, 67, 86, 255]

In [152]:
a

[255, 67, 2, 86, 8, 5, -8, 6, 8, 5]

In [153]:
a.sort()

In [154]:
a

[-8, 2, 5, 5, 6, 8, 8, 67, 86, 255]

In [156]:
a=a[::-1]

In [157]:
a

[255, 86, 67, 8, 8, 6, 5, 5, 2, -8]

In [160]:
a.reverse()

In [161]:
a

[-8, 2, 5, 5, 6, 8, 8, 67, 86, 255]